
#main {
    height: 100%;
    width: 100%;
}
.shadowText {
    text-shadow: 1px 1px 1px black;
}
.gray {
    background: none repeat scroll 0 0 #cccccc;
}
.hide {
	display: none;
}
.button {
	cursor: pointer;
}
#fullHeight {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#editTypesCategoryWindow {
    background: none repeat scroll 0 0 #ffffff;
    height: 133px;
    left: 33%;
    position: absolute;
    top: 33%;
    width: 328px;
    z-index: 2000;
}
#confirmWindow {
    background: none repeat scroll 0 0 #ffffff;
    height: 67px;
    left: 33%;
    position: absolute;
    top: 33%;
    width: 203px;
    z-index: 2000;
}
#confirmWindow .head {
	background: #4682b4;
	height: 20px;
}
#confirmWindow .label {
    float: left;
    height: 16px;
    margin-left: 30%;
}
#confirmWindow .closeButton {
	float: right;
}
#confirmWindow .body {
	height: 47px
}

#confirmWindow .body .okButton {
    background: none repeat scroll 0 0 gray;
    height: 22px;
    margin-left: 13px;
    margin-top: 21px;
    width: 57px;
	float: left;
	line-height: 22px;
	text-align: center;
}
#confirmWindow .body .cancelButton {
    background: none repeat scroll 0 0 gray;
    float: right;
    height: 22px;
    margin-right: 13px;
    margin-top: 21px;
    width: 57px;
	line-height: 22px;
	text-align: center;
}
#editTypesCategoryWindow .head {
	background: #4682b4;
	height: 20px;
}
#editTypesCategoryWindow .label {
    float: left;
    height: 16px;
    margin-left: 30%;
}
#editTypesCategoryWindow .closeButton {
	float: right;
}
#ajaxLoader {
    left: 50%;
    position: absolute;
    top: 50%;
}
.clear {
    clear: both;
}
label {
    float: left;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 30px;
    padding-right: 10px;
    text-align: right;
    width: 62px;
}
input[type="text"], input[type="password"] {
    height: 29px;
    padding: 0 10px;
    text-shadow: 1px 1px 1px black;
    width: 202px;
}
#loginPanel {
    border: 1px solid;
    height: 140px;
    left: 38%;
    position: relative;
    top: 50%;
    width: 291px;
}
#loginPanel #submit {
    left: 39%;
    position: absolute;
}
#loginPanel .loginFormHead {
    background: none repeat scroll 0 0 #4682b4;
    border-bottom: 1px solid;
    font-weight: bold;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
#loginPanel .loginFormBody {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 20px;
}
#loginPanel .inputLine {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
}
#loginPanel .inputLine p {
    margin: 0 0 10px;
}
#topMenu {
    height: 20px;
    width: 100%;
}
#topMenu .menuItem {
    background: none repeat scroll 0 0 #4682b4;
    border: 1px solid;
    cursor: pointer;
    float: left;
    height: 20px;
    margin-left: 12px;
    min-width: 95px;
    text-align: center;
}
#topMenu .menuItem:hover {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid;
    cursor: pointer;
    float: left;
    height: 20px;
    margin-left: 12px;
    min-width: 95px;
    text-align: center;
}
#body {
    height: 100%;
    margin-top: 10px;
    width: 100%;
}
#categoriesTypesTable .contentLine {
    height: 33px;
    width: 316px;
}
#categoriesTypesTable .contentColumn {
    float: left;
    height: 33px;
	min-width: 38px;
	display: table-cell;
    line-height: 33px;
}
#categoriesTypesTable .contentColumn.id {
    width: 30px;
	text-align: center;
}
#categoriesTypesTable .contentColumn.name {
    width: 200px;
}
.tableHead .contentColumn
{
	text-align: center;
}